* {
  margin: 0px;
  padding: 0px;
}

body {
  min-height: 100vh; /*vh = view height */
  background-image: url(./img/backimg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
}

.font {
  font-family: monospace;
  font-size: larger;
  font-weight: bold;
}
.color-azure {
  color: azure;
}
/* .color-lime {
  color: limegreen;
} */
.text-shadow-white {
  text-shadow: 1px 1px 1px white;
}
.text-shadow-black {
  text-shadow: 2px 2px 1px black;
}
.main-div {
  text-align: center;
  /* border: 3px solid white; */
  height: 500px;
  width: 420px;
}

.search-div {
  display: flex;
  justify-content: center;
  margin: 30px 0px;
}
#inputId {
  background: transparent;
  border: none;
  border-bottom: 2px solid black;
  height: 15%;
  width: 85%;
  padding: 6px;
  outline: none;
}

#btnId {
  background: transparent;
  border: none;
}

.dcInfo p {
  font-size: 18px;
}
.dcInfo h1 {
  margin-top: 15px;
  margin-bottom: 3px;
  font-size: 45px;
}

#weatherInfo p {
  font-size: 25px;
}

#temp {
  margin: 15px;
  font-size: 50px;
}
.tempxInfo {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  font-size: 35px;
}
